#!/usr/bin/python
# -*- coding: utf-8 -*-
#
# Created by flytrap

DEBUG = True
SECRET_KEY = ''
ALLOWED_HOSTS = ['*']
WECHAT = {
    'appid': '',
    'secret': '',
    'token': ''
}

SHOW_DOCS = True  # 显示swagger文档
TAIGA_KEY = 'test'  # 用于校验taiga请求合法性
